# 忽略 node_modules 文件夹
node_modules/

# 忽略 build 输出目录
build/

# 忽略日志文件夹
logs/

# 忽略所有 .tmp 结尾的文件夹
*.tmp/

# 忽略某个路径下的特定文件夹
/path/to/folder/cache/

# 忽略 __pycache__（Python 缓存）
__pycache__/

dist/